In [58]:
import pandas as pd 
import numpy as np 
import xgboost
import os
import time
import warnings
import sklearn
import seaborn as sns 
from sklearn.decomposition import PCA
from collections import Counter
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
import matplotlib.pyplot as plt 
import datetime
%matplotlib inline
warnings.filterwarnings('ignore')
file=r'c:/users/lance/desktop/GitHub_project/tianchi_power_data/matrix_0.csv'
weatherfile=r'c:/users/lance/desktop/GitHub_project/tianchi_power_data/weather_data_2014-1-1~2016~9-30.xlsx'
holidayfile=r'c:/users/lance/desktop/GitHub_project/tianchi_power_data/holidays.xlsx'

In [52]:
holidaydata=pd.read_excel(holidayfile,header=None)
data=pd.read_csv(file)
weatherdata=pd.read_excel(weatherfile)
k=['timestamp']
k+=[str(x) for x in range(1,1455)]
k.append('sum')
data.columns=k
data['timestamp']=pd.DataFrame(pd.to_datetime(data['timestamp']))

In [53]:
data['dayofweek']=data['timestamp'].apply(lambda x:x.dayofweek)
data['dayofyear']=data['timestamp'].apply(lambda x:x.dayofyear)
data['is_weekend']=data['timestamp'].apply(lambda x:1 if x.dayofweek in range(5,7) else 0)

In [54]:
data['num_working']=1454
for i in range(0,609):
    data.loc[i,'num_working']=1454-Counter(data.loc[i,][1:1455])[1]

In [55]:
holidaylist=list(holidaydata[0])

In [56]:
data['is_holiday']=data.timestamp.apply(lambda x:1 if x in holidaylist else 0)

In [60]:
data.head()

,timestamp,1,2,3,4,5,6,7,8,9,...,1451,1452,1453,1454,sum,dayofweek,dayofyear,is_weekend,num_working,is_holiday
0,2015-01-01,1135,24,385,206,156,52,167,621,59,...,2225,3511,191,976,2900575,3,1,0,1110,1
1,2015-01-02,570,22,475,5134,368,386,186,583,301,...,681,3494,449,520,3158211,4,2,0,1116,1
2,2015-01-03,3418,18,526,6784,359,363,154,636,320,...,2330,3419,492,536,3596487,5,3,1,1115,1
3,2015-01-04,3968,119,1,6475,467,376,125,1241,309,...,2737,3465,669,488,3939672,6,4,1,1110,0
4,2015-01-05,3986,108,535,6592,433,377,147,1411,462,...,2790,3472,731,406,4101790,0,5,0,1120,0

In [61]:
df=data[['timestamp','sum','dayofweek','dayofyear','is_weekend','num_working','is_holiday']]

In [63]:
df['sum_shift30']=df['sum'].shift(30)

In [67]:
df=df.loc[30:,]

In [69]:
train=df[df.timestamp<r'2016/07/01']
test=df[(df.timestamp>=r'2016/07/01')&(df.timestamp<r'2016/08/01')]

In [71]:
xtrain=train[['sum','dayofweek','dayofyear','is_weekend','num_working','is_holiday']]
ytrain=train[['sum_shift30']]

In [72]:
xtest=test[['sum','dayofweek','dayofyear','is_weekend','num_working','is_holiday']]
ytest=test[['sum_shift30']]

In [73]:
from sklearn.ensemble import RandomForestRegressor

In [74]:
rfr=RandomForestRegressor()

In [75]:
rfr.fit(xtrain,ytrain)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [81]:
result=rfr.predict(xtest)

In [80]:
df[df.timestamp>=r'2016/08/01']['sum'].shape

(31,)

In [82]:
result.shape

(31,)